.eventsContainer {
    padding: 20px;
    border-left: 1px solid #ccc;
  }
  
  .eventItem {
    margin-bottom: 10px;
  }
  
  .eventItem h4 {
    margin: 0;
  }
  
  .eventItem p {
    margin: 5px 0 0 0;
  }
  